<!-- Banner -->		
<section id="banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <header>
            <h2>The People's Project</h2>
        </header>
        <p>Aliquam eu elit eget arcu <br>comteger ut fermtum lorem<br> Lorem ipsum dolor sit amet</p>
        <footer>
            <ul class="buttons vertical">
                <li><a href="{{ site.baseurl }}/blog" class="button fit scrolly">Check out our blog!</a></li>
            </ul>
        </footer>

    </div>

</section>